[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
datasets = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = {extras = ["torch"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
